<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header.html :: head}"/>

<style>
    body{margin-top:20px;}
    .blog-grid {
        position: relative;
        box-shadow: 0 1rem 1.75rem 0 rgba(45, 55, 75, 0.1);
        height: 100%;
        border: 0.0625rem solid rgba(220, 224, 229, 0.6);
        border-radius: 0.25rem;
        transition: all .2s ease-in-out;
        height: 100%
    }

    .blog-grid span {
        color: #292dc2
    }

    .blog-grid img {
        width: 100%;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem
    }

    .blog-grid-text {
        position: relative
    }

    .blog-grid-text>span {
        color: #292dc2;
        font-size: 13px;
        padding-right: 5px
    }

    .blog-grid-text h4 {
        line-height: normal;
        margin-bottom: 15px
    }

    .blog-grid-text .meta-style2 {
        border-top: 1px dashed #cee1f8;
        padding-top: 15px
    }

    .blog-grid-text .meta-style2 ul li {
        margin-bottom: 0;
        font-weight: 500
    }

    .blog-grid-text .meta-style2 ul li:last-child {
        margin-right: 0
    }

    .blog-grid-text ul {
        margin: 0;
        padding: 0
    }

    .blog-grid-text ul li {
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        margin: 5px 10px 5px 0
    }

    .blog-grid-text ul li:last-child {
        margin-right: 0
    }

    .blog-grid-text ul li i {
        font-size: 14px;
        font-weight: 600;
        margin-right: 5px
    }

    .blog-grid-text p {
        font-weight: 400;
        padding: 0
    }

    .blog-list-left-heading:after,
    .blog-title-box:after {
        content: '';
        height: 2px
    }

    .blog-grid-simple-content a:hover {
        color: #1d184a
    }

    .blog-grid-simple-content a:hover:after {
        color: #1d184a
    }
    .blog-grid-text {
        position: relative
    }

    .blog-grid-text>span {
        color: #292dc2;
        font-size: 13px;
        padding-right: 5px
    }

    .blog-grid-text h4 {
        line-height: normal;
        margin-bottom: 15px
    }

    .blog-grid-text .meta-style2 {
        border-top: 1px dashed #cee1f8 !important;
        padding-top: 15px
    }

    .blog-grid-text .meta-style2 ul li {
        margin-bottom: 0;
        font-weight: 500
    }

    .blog-grid-text .meta-style2 ul li:last-child {
        margin-right: 0
    }

    .blog-grid-text ul {
        margin: 0;
        padding: 0
    }

    .blog-grid-text ul li {
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        margin: 5px 10px 5px 0
    }

    .blog-grid-text ul li:last-child {
        margin-right: 0
    }

    .blog-grid-text ul li i {
        font-size: 14px;
        font-weight: 600;
        margin-right: 5px
    }

    .blog-grid-text p {
        font-weight: 400;
        padding: 0
    }

    a, a:active, a:focus {
        color: #575a7b;
        text-decoration: none;
        transition-timing-function: ease-in-out;
        -ms-transition-timing-function: ease-in-out;
        -moz-transition-timing-function: ease-in-out;
        -webkit-transition-timing-function: ease-in-out;
        -o-transition-timing-function: ease-in-out;
        transition-duration: .2s;
        -ms-transition-duration: .2s;
        -moz-transition-duration: .2s;
        -webkit-transition-duration: .2s;
        -o-transition-duration: .2s;
    }

    .pagination {
        border-radius: 0;
        padding: 0;
        margin: 0
    }

    .pagination ul {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        margin: 0 auto;
        padding: 0
    }

    .pagination li {
        display: inline
    }

    .pagination a {
        float: left;
        padding: 0 18px;
        line-height: 40px;
        text-decoration: none;
        border: 1px solid #dbdbdb;
        border-left-width: 0;
        background: #fff
    }

    .pagination a:hover {
        background-color: #1d184a;
        color: #fff
    }

    .pagination .active a {
        background-color: #f7f7f7;
        color: #999;
        cursor: default
    }

    .pagination .disabled span {
        color: #999;
        background-color: transparent;
        cursor: default
    }

    .pagination .disabled a {
        color: #999;
        background-color: transparent;
        cursor: default
    }

    .pagination .disabled a:hover {
        color: #999;
        background-color: transparent;
        cursor: default
    }

    .pagination li:first-child a {
        border-left-width: 1px
    }

    .mt-6, .my-6 {
        margin-top: 3.5rem;
    }
</style>
<body>

<div th:insert="~{fragments/navbar :: navbar}"></div>
<div class="container">
    <h1>코스 목록 카드로 출력 초안</h1>
    <div class="row">
        <div th:each="course : ${cardCourses}" class="col-md-4">
            <div class="card">

                <img th:src="${'/images/board/' + course.image}" class="card-img-top" alt="Course Image">
                <div class="card-body">
                    <h5 class="card-title" th:text="${course.courseName}"></h5>
                    <p class="card-text" th:text="${course.description}"></p>
                    <p class="card-text" th:text="${course.status}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
