<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/header.html :: head}">
</head>
<body>
<div th:insert="~{fragments/navbar :: navbar}"></div>
<main class="mx-auto d-flex flex-nowrap" style="max-height: none; height: auto">
    <div th:replace="~{fragments/sidebar :: sidebar}" sec:authorize="hasAnyRole('ADMIN', 'MANAGER')"></div>
    <div style="width:280px" sec:authorize="hasAnyRole('STUDENT', 'MENTOR')"></div>


    <form th:method="post" class="s-5" th:action="@{'/tasks/' + ${taskDetail.id} + '/edit'}"
          th:object="${taskUpdateRequest}">
        <input type="hidden" name="_method" value="put"/>
        <div class="row" style="margin-top: 15px;">
            <br/><br/>
            <div class="row">
                <div class="col-sm-6">
                    <div>
                        <span class="text-sm text-grey-m2 align-middle" style="font-weight:bold;">태스크 명:</span>
                        <div class="form-group row" sec:authorize="hasAnyRole('STUDENT', 'TEACHER')">
                            <div class="col-sm-10">
                                <label type="text" th:text="${taskDetail.title}"/>
                            </div>
                        </div>
                        <div class="form-group row" sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
                            <div class="col-sm-10">
                                <input class="form-control" id="title" type="text" name="title"
                                       th:value="${taskDetail.title}"/>
                                <p id="titleEmpty" style="color:red" hidden>타이틀이 비어있습니다.</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label for="taskStatus" style="font-weight:bold;">상태:</label>
                        <div class="col-sm-10" sec:authorize="hasAnyRole('STUDENT', 'TEACHER')">
                            <label type="text" th:text="${taskDetail.taskStatus}"></label>
                        </div>
                        <div class="col-sm-10" sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
                            <select id="taskStatus" name="taskStatus"
                                    th:attr="data-task_status=${taskDetail.taskStatus}" class="form-select"
                                    th:field="*{taskStatus}" th:value="${taskDetail.taskStatus}">
                                <option value="CREATED">등록</option>
                                <option value="IN_PROGRESS">진행중</option>
                                <option value="ERROR">에러</option>
                                <option value="DONE">완료</option>
                            </select>
                        </div>
                        <div>
                            <span class="text-sm text-grey-m2 align-middle" style="font-weight:bold;">설명:</span>
                            <div class="col-sm-10">
                                <a name="description" th:href="${taskDetail.description}"
                                   th:text="${taskDetail.description}" sec:authorize="hasAnyRole('STUDENT', 'TEACHER')"
                                   readonly></a>
                                <!--                      <label name="description" th:text="${taskDetail.description}" sec:authorize="hasAnyRole('STUDENT', 'TEACHER')" readonly></label>-->
                                <textarea class="form-control" name="description" id="description"
                                          th:text="${taskDetail.description}"
                                          sec:authorize="hasAnyRole('ADMIN', 'MANAGER')"
                                          placeholder="설명이 없습니다."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 align-self-start d-sm-flex justify-content-center">
                    <hr class="d-sm-none"/>
                    <div class="text-grey-m2">
                        <div class="my-2">
                            <span class="text-600 text-90" style="font-weight:bold;">기수명:</span>
                            <div class="col" sec:authorize="hasAnyRole('STUDENT', 'TEACHER')">
                                <label th:text="${taskDetail.todayCourseInfo.name}"/>
                            </div>
                            <div class="col" sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
                                <select id="courseName" th:attr="data-course_name=${taskDetail.todayCourseInfo.name}"
                                        onchange="sendCourse()" name="courseName" class="form-select"
                                        th:field="*{courseName}" style="width:200px;height:40px;">
                                    <option th:each="course:${courseList}" th:value="${course.name}"
                                            th:text="${course.name}"/>
                                </select>
                            </div>
                        </div>

                        <div class="my-2">
                            <span class="text-600 text-90" style="font-weight:bold;">주차:</span>
                            <label type="text" th:text="${taskDetail.week}"
                                   sec:authorize="hasAnyRole('STUDENT', 'TEACHER')"/>
                            <input class="form-control" type="number" id="week" name="week"
                                   th:value="${taskDetail.week}" sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
                        </div>

                        <div class="my-2">
                            <span class="text-600 text-90" style="font-weight:bold;">일차:</span>
                            <label type="text" th:text="${taskDetail.day}"
                                   sec:authorize="hasAnyRole('STUDENT', 'TEACHER')"/>
                            <input class="form-control" type="number" id="day" name="day" th:value="${taskDetail.day}"
                                   sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
                        </div>

                        <div class="my-2">
                            <span class="text-600 text-90" style="font-weight:bold;">도전과제</span>
                            <input class="form-check-input" type="checkbox" name="isChallenge" th:value="true" th:checked="${taskDetail.isChallenge}" id="challengeCheckbox">
                            <input type="hidden" th:value="false" name="isChallenge" />
                            <label class="form-check-label" for="challengeCheckbox">
                                Challenge
                            </label>
                        </div>

                    </div>
                </div>
                <!-- /.col -->
            </div>
            <span class="my-2"></span>

            <div class="container table-responsive">
                <label style="font-weight:bold;">질문 목록 </label>
                <br>
                <table class="table table-striped table-borderless border-0 border-b-2 brc-default-l1">
                    <thead class="bg-none bgc-default-tp1">
                    <tr class="text-white">
                        <th scope="col">번호</th>
                        <th scope="col">글제목</th>
                        <th scope="col" sec:authorize="hasAnyRole('ADMIN','MANAGER','TEACHER','MENTOR')">작성자</th>
                        <th scope="col">좋아요</th>
                        <th scope="col">댓글수</th>
                        <th scope="col">작성일</th>
                    </tr>
                    </thead>
                    <tbody class="text-95 text-secondary-d3">
                    <!-- CONTENTS   !-->
                    <tr th:each="board : ${boardList}">
                        <th scope="row" th:text="${board.id}"></th>
                        <td>
                            <a th:text="${board.title}" th:href="@{'/boards/' + ${board.id}}"></a>
                        </td>
                        <td sec:authorize="hasAnyRole('ADMIN','MANAGER','TEACHER','MENTOR')"
                            th:text="${board.userName}"></td>
                        <td th:text="${board.likes}"></td>
                        <td th:text="${board.comments}"></td>
                        <td th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <hr/>
        <div align="right" sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
            <input id="chBtn" type="submit" class="btn btn-info btn-bold px-4 float-right mt-3 mt-lg-0"
                   style="width: 200px;" value="수정">
        </div>
    </form>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/custom_func.js"></script>
<script>
    $(document).ready(function () {
        let taskStatus = $('#taskStatus').data('task_status');
        $("#taskStatus").val(taskStatus).prop("selected", true);

        let courseName = $('#courseName').data('course_name');
        $("#courseName").val(courseName).prop("selected", true);

        $('#title').on("propertychange change keyup paste input ", function () {
            let title = $("#title").val();
            if (title.length === 0) {
                show("titleEmpty")
                check_activate(false, "chBtn")
            } else {
                hide("titleEmpty")
                check_activate(true, "chBtn")
            }
        })
    })

    function sendCourse() {
        let courseName = $('#courseName').val();

        $.ajax({
            type: 'POST',
            url: '/tasks/sendCourse',
            data: {
                courseName: courseName
            }
            , success: function (res) {
                let week = res["week"]
                let day = res["day"]
                $('#week').val(week);
                $('#day').val(day);
            }
        });
    }

</script>

</body>
<footer th:replace="~{fragments/footer.html :: footer}"/>
</html>