.btn {
    font-weight: bold;
}

.blank{
    margin-left: 5px;
    margin-right: 5px;
}
.text-btn{
    background-color: #E1FFEE;
    height: 40px;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-btn{
    background-color: #E1FFEE;
    height: 40px;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
}
.col-md-6{
    margin-bottom: 10px;
}
.nav-btn:hover {
    background-color: #E1FFEE;
    height: 40px;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    animation: jelly 0.5s;
}

.nav-btn:active:focus {
    background-color: #E1FFEE;
    height: 40px;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    animation: jelly 0.5s;
}

.body-btn{
    background-color: yellowgreen;
    height: 60px;
    width: 130px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px
}

nav-btn

.body-btn:hover {
    background-color: darkgray;
    height: 60px;
    width: 130px;
    margin-left: 10px;
    margin-right: 10px;
    animation: jelly 0.5s;
    margin-top: 15px
}

.body-btn:active:focus {
    background-color: yellowgreen;
    height: 50px;
    width: 130px;
    margin-left: 10px;
    margin-right: 10px;
    animation: jelly 0.5s;
}

.body-btn-del{
    background-color: palevioletred;

    height: 40px;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.body-btn-del:hover {
    background-color: palevioletred;
    height: 40px;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    animation: jelly 0.5s;
}

.body-btn-del:active:focus {
    background-color: palevioletred;
    height: 40px;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    animation: jelly 0.5s;
}

.list-table {
    width: 100%;
}

.page-btn {
    margin-right: 3px;
    margin-left: 3px;
    display: inline;
    background-color: #A5F1E9;
}

.course-page-btn {
    margin-right: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
    display: inline;
    background-color: #A5C1F1FF;
}

.page-btn:hover {
    margin-right: 3px;
    margin-left: 3px;
    display: inline;
    background-color: #A5F1E9;
    animation: jelly 0.5s;
}

.page-btn:active:focus {
    margin-right: 3px;
    margin-left: 3px;
    display: inline;
    background-color: #A5F1E9;
}

.page-btn-now {
    margin-right: 3px;
    margin-left: 3px;
    display: inline;
    background-color: #7FBCD2;
}

.page-btn-now:hover {
    margin-right: 3px;
    margin-left: 3px;
    display: inline;
    background-color: #7FBCD2;
    animation: jelly 0.5s;
}

.page-btn-now:active:focus {
    margin-right: 3px;
    margin-left: 3px;
    display: inline;
    background-color: #7FBCD2;
}

@keyframes jelly {
    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}

.error-class {
    color: red;
    border-color: red;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
body {    min-height: 100vh;    min-height: -webkit-fill-available;}

html {
    height: -webkit-fill-available;
}

main {
    height: 100vh;
    /*height: -webkit-fill-available;*/
    max-height: 100vh;
    overflow-x: auto;
    /*overflow-y: hidden;*/
}

.dropdown-toggle { outline: 0; }
.dropdown-toggle-no-caret::after {
    display: none !important;
}

.btn-toggle {
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}
.tooltip {
    position: relative;
    display: block;
}

.tooltip .tooltiptext {
    visibility: hidden;       /* 이벤트가 없으면 툴팁 영역을 숨김 */
    width: 120px;             /* 툴팁 영역의 넓이를 설정 */
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;       /* 절대 위치를 사용 */
    z-index: 1;
}
.limited-text {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tooltip:hover .tooltiptext {
    visibility: visible;      /* hover 이벤트 발생시 영역을 보여줌 */
}

.bgc-default-tp1 {
    background-color: rgba(121,169,197,.92)!important;
}
.btn-toggle-nav a {    padding: .1875rem .5rem;    margin-top: .125rem;    margin-left: 1.25rem;}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {background-color: #d2f4ea;}
.scrollarea {overflow-y: auto;}
.overflow-x-auto {overflow-x: auto;}
.overflow-x-auto .table {width: auto!important; table-layout: fixed;white-space: nowrap}
    .custom-navbar-collapse {
        flex-grow: 1;
        display: flex !important;
        flex-basis: auto;
        align-items: center;
    }
@media (max-width: 992px) {
    .nav-item{
        padding-right: 5px;
    }

}
@media(min-width: 674px){
    .custom-nav-item2{
        display:none;
    }
}
@media (max-width: 674px) {
    .custom-nav-item1{
        display: none!important;
    }
    .custom-nav-item2{
        display: inline-block;
    }
}
